<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Ejemplo de direccionamiento con NodeJS</title>
		<scrip src="//code.jquery.com/jaquery-1.11.0.min.js"></scrip>
		<script src="main.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	</head>

	<body>
		<h1>NodeJS</h1>
		<a href="#" id="login" class="btnn btn-primary">Iniciar</a>
	</body>
</html>